#### Remove a string from input list

In [1]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']

In [2]:
input_list.remove('SPSS')

In [3]:
input_list.append('SPARK')

In [4]:
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

#### String to list conversion

In [5]:
str1 = 'I love Data Science & Python'

In [6]:
str1.split('&')

['I love Data Science ', ' Python']

#### List to string conversion

In [7]:
str2 = ['Python syntax is easy to learn','Python syntax is very clear']

In [8]:
listToStr = ' & '.join(str(elem) for elem in str2)

In [9]:
listToStr

'Python syntax is easy to learn & Python syntax is very clear'

#### Nested List : Extract Value

In [10]:
input_list1 = [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [11]:
input_list1[2][0]

'Python'

In [12]:
t = ("disco", 12, 4.5)

In [13]:
t[0][2]

's'

#### String Palindrome

In [14]:
#Using lambda expression for palindrome check
boo = lambda x:1 if x==''.join(reversed(y)) else 0

In [15]:
y = input("Enter a string for palindrome check ")

#print(y)
#print(''.join(reversed(y)))
print(boo(y))

Enter a string for palindrome check abcba
1

#### Reverse the order of words

In [16]:
sent = 'Sample sentence to be used for ordering'

In [17]:
sent_list = sent.split()

In [18]:
sent_list

['Sample', 'sentence', 'to', 'be', 'used', 'for', 'ordering']

In [19]:
#Initialising a empty list
reverse_list= []
for i in reversed(sent_list):
    reverse_list.append(i)
print(reverse_list)

['ordering', 'for', 'used', 'be', 'to', 'sentence', 'Sample']

In [20]:
#Reverse list now converted into sentence
reverse_order = ' '.join(map(str,reverse_list))

In [21]:
print(reverse_order)

ordering for used be to sentence Sample

#### String formatting

In [24]:
unformat_str = input('Enter a string with no formatting')

#To lowercase 
unformat_str.lower().replace(" ", "_")

Enter a string with no formattingcaloRie ConsuMed

'calorie_consumed'